<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Панель администратора</title>
    <link rel="stylesheet" href="css/style.css" />
    <script src="https://api-maps.yandex.ru/2.1/?apikey=d9c12e56-77be-4918-ba45-c1d93100f941&lang=ru_RU"
        type="text/javascript">
        </script>
</head>

<body>
    <div class="container">
        <h2>Добавить кружок</h2>
        <form id="add-club-form">
            <input id="name" placeholder="Название" required>
            <label>Город:</label>
            <select id="city" name="city" required></select>
            <input id="district" placeholder="Район" required>
            <label>Активность:</label>
            <select id="activity" required>
                <option value="Спорт">Спорт</option>
                <option value="Творчество">Творчество</option>
                <option value="IT">IT</option>
                <option value="Музыка">Музыка</option>
                <option value="Языки">Языки</option>
            </select>
            <label>Возрастная группа:</label>
            <select id="age-group" required>
                <option value="3-5 лет">3-5 лет</option>
                <option value="6-7 лет">6-7 лет</option>
                <option value="8-10 лет">8-10 лет</option>
                <option value="11-14 лет">11-14 лет</option>
                <option value="15-17 лет">15-17 лет</option>
            </select>
            <input id="price" type="number" placeholder="Цена" min="0" required>
            <input id="address" placeholder="Адрес" required>
            <input id="lat" placeholder="Широта" required>
            <input id="lon" placeholder="Долгота" required>
            <input id="contact" placeholder="Телефон" required>
            <input id="link" placeholder="Ссылка (необязательно)">
            <button type="submit">Добавить</button>
        </form>
        <p id="message"></p>
        <div id="map"></div>
    </div>
    <script type="module" src="/js/admin.js"></script>
</body>

</html>