<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Карта детства</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="https://api-maps.yandex.ru/2.1/?apikey=d9c12e56-77be-4918-ba45-c1d93100f941&lang=ru_RU"
        type="text/javascript">
        </script>
</head>

<body>
    <div class="container">
        <h1>Найдите кружок для ребенка</h1>
        <div class="grid">
            <div>
                <label>Город:</label>
                <select id="city"></select>
                <label>Дата рождения ребенка:</label>
                <input type="date" id="birth-date" />
                <button id="calculator">Определить возраст</button>
                <p>Возрастная группа: <span id="age-group-result"></span></p>
            </div>
            <div>
                <label>Цена (руб):</label>
                <input type="number" id="price-min" min="0" placeholder="Минимум">
                <input type="number" id="price-max" min="0" placeholder="Максимум">
                <label>Район:</label>
                <select id="district"></select>
                <label>Вид активности:</label>
                <select id="activity">
                    <option value="">Любая</option>
                    <option value="Спорт">Спорт</option>
                    <option value="Творчество">Творчество</option>
                    <option value="IT">IT</option>
                    <option value="Музыка">Музыка</option>
                    <option value="Языки">Языки</option>
                </select>
            </div>
        </div>
        <button id="filter">Применить фильтры</button>
        <p id="search-result"></p>
        <ul id="clubs-list"></ul>
        <div id="map"></div>
    </div>
    <script type="module" src="/js/script.js"></script>
</body>

</html>